# Python
__pycache__
*.pyc
*.egg-info
dist
.venv

# Log
*.log
*.log.*
*.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

# Data
*.pkl
*.csv
.chroma

# Build
build

# Tests
fastchat/serve/documents/*
fastchat/serve/promptGenerator.py
documents.txt
.knowledge